.r-button-wave {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.r-button-wave.pressed {
  -webkit-animation: r-button-ripple 0.6s linear forwards;
  animation: r-button-ripple 0.6s linear forwards;
}
.r-button-wave.r-button-wave-hidden {
  opacity: 0;
}
.r-button-text {
  position: relative;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  font-family: Lato, -apple-system, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
.r-button {
  position: relative;
  -webkit-appearance: none;
  border: none;
  padding: .56em 1.1em;
  font-size: 13px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px transparent;
  vertical-align: middle;
  overflow: hidden;
}
.r-button.r-button-sm {
  padding: .45em .75em;
}
.r-button:not(.r-button-disabled):active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
}
.r-button-disabled {
  cursor: not-allowed;
}
.r-button-disabled.r-button-basic {
  color: #999;
}
.r-button-disabled.r-button-primary {
  background-color: #accaff;
}
.r-button-basic {
  background-color: #FFF;
  border: solid 1px #DDD;
  color: #333;
}
.r-button-basic:not(.r-button-disabled):hover,
.r-button-basic:not(.r-button-disabled):focus {
  background-color: #f7f7f7;
}
.r-button-primary {
  background-color: #689eff;
  color: #fff;
}
.r-button-primary:not(.r-button-disabled):hover,
.r-button-primary:not(.r-button-disabled):focus {
  background-color: #6396f2;
}
@-webkit-keyframes r-button-ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes r-button-ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.r-input-wrapper {
  display: inline-block;
}
.r-input-error-message {
  width: 100%;
  color: #fd8282;
  font-size: 11px;
  background-color: #ffebeb;
  border: solid 1px #ffebeb;
  padding: 4px 10px;
  box-sizing: border-box;
}
.r-input {
  width: 100%;
  background-color: #FFF;
  color: #6c6c6c;
  outline: none;
  padding: .56em 10px;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: solid 1px #DDD;
  cursor: inherit;
}
.r-input:focus {
  border: solid 1px #689eff;
}
.r-input.r-input-round {
  border-radius: 4px;
}
.r-input.r-input-readonly:hover {
  border: solid 1px #bcbcbc;
}
.r-input.r-input-readonly:focus {
  border: solid 1px #bcbcbc;
}
.r-input.r-input-transparent {
  border: solid 1px transparent;
}
.r-input.r-input-transparent:focus {
  border: solid 1px #689eff;
}
.r-input-sm {
  padding: .45em 10px;
}
.r-input-error {
  border: solid 1px #fd8282;
}
.r-input-disabled {
  background-color: #EEE;
  cursor: not-allowed;
}
